@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #e6e8ec;
  /* background: #23ba9e; */
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: #0b63e5;
  border-radius: 14px;
  border: 2px solid #0b63e5;
}

/* hero animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

/* Scroll indicator styles */

.progress-wrapper {
  position: fixed;
  top: 65px;
  left: 0;
  height: 2px;
  z-index: 49;
  width: 100%;
}

.progress-bar {
  height: 3px;
  background-color: #0b63e5;
  transition: width 0.2s;
  border-radius: 4px;
}

.spinner {
  display: inline-block;
  width: 20px;
  position: fixed;
  top: 10rem;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: #23ba9e;
  border-radius: 50%;
  /* transform: rotate(360deg); */
  /* animation: spin 0.8s linear; */
}

/* loading progress */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #23ba9e;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #23ba9e, 0 0 5px #23ba9e;
  opacity: 0;
  transform: rotate(3deg) translate(0px, -4px);
}
/* #nprogress .spinner {
  // display: block;
  // position: absolute;
  // right: 0px;
  // width: 100px;
  // height: 100%;
  // box-shadow: 0 0 10px #23ba9e, 0 0 5px #23ba9e;
  opacity: 0;
  // transform: rotate(3deg) translate(0px, -4px);
} */

/* hero section */
.bg-hero-image-1 {
  /* background: linear-gradient(126deg, #0d1522 100%, rgba(0, 39, 98, 1) 100%),
    linear-gradient(179deg, rgba(13, 21, 34, 1) 100%, rgb(0, 39, 98) 100%); */
  background-image: linear-gradient(
      126deg,
      rgba(13, 21, 34, 0.75) 0%,
      rgba(0, 39, 98, 0.47) 100%
    ),
    linear-gradient(
      179deg,
      rgba(13, 21, 34, 0.9) 0%,
      rgba(0, 39, 98, 0.81) 98.98%
    ),
    url("../public/assets/postImage-2.png");
}

.bg-hero-image-2 {
  background-image: linear-gradient(
      126deg,
      rgba(13, 21, 34, 0.75) 0%,
      rgba(0, 39, 98, 0.47) 100%
    ),
    linear-gradient(
      179deg,
      rgba(13, 21, 34, 0.9) 0%,
      rgba(0, 39, 98, 0.81) 98.98%
    ),
    url("../public/assets/hero-background-image-2.jpg");
}

/* BreadCrumb section */
.breadcrumb {
  background-image: url("../public/assets/breadcrumb-background.png");
}

/* Blogs */
.intro-post {
  background-image: linear-gradient(
      to top,
      rgba(13, 21, 34, 0.75) 0%,
      rgba(0, 39, 98, 0.47) 40%
    ),
    linear-gradient(
      to top,
      rgba(13, 21, 34, 0.9) 0%,
      rgba(0, 39, 98, 0.3) 30.98%
    ),
    url("../public/assets/intropost-img.png");
}
